/* Import Open Sans font */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap');

/* Apply the Open Sans font and other basic styles */
body {
    background-color: #003352; /* Kerby Blue */
    font-family: 'Open Sans', sans-serif;
    color: #ffffff; /* Summit White */
    font-size: 18px; /* Adjust the font size for better readability */
}

h1, h2, h3 {
    font-weight: bold;
}

/* Apply black font color to the answer options */
input[type="radio"] + label {
    color: black;
    font-family: 'Open Sans', sans-serif;
}

/* Quiz container styles */
#quiz-container {
    background-color: #ffffff; /* Summit White */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
}

button {
    background-color: #007fb5; /* Lincoln Blue */
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
}

button:hover {
    background-color: #00b1ff; /* Focus Blue */
}

/* Styling for result message */
#result {
    background-color: #a7a9ac; /* Historic Silver */
    color: white;
    padding: 20px;
    border-radius: 10px;
    display: none;
    text-align: center;
}

