/* Add the Open Sans font family */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');

body {
    background-color: #003352; /* Kerby Blue */
    font-family: 'Open Sans', sans-serif;
    color: #007fb5; /* Lincoln Blue */
    text-align: center;
    padding: 20px;
}

.quiz-container {
    background-color: #ffffff; /* Summit White */
    padding: 20px;
    border-radius: 10px;
    display: inline-block;
    max-width: 600px;
    width: 100%;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

h1 {
    font-size: 24px;
    color: #007fb5; /* Lincoln Blue */
}

.question p {
    font-size: 18px;
    margin-bottom: 15px;
    text-align: left;
    color: #007fb5; /* Lincoln Blue */
    font-weight: bold; /* Make questions bold */
}

button {
    font-size: 18px;
    padding: 10px 15px;
    background-color: #00b1ff; /* Focus Blue */
    color: #ffffff; /* Summit White */
    border: none;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 10px;
}

button:hover {
    background-color: #a7a9ac; /* Historic Silver */
}

#result {
    font-size: 20px;
    margin-top: 20px;
    color: #007fb5; /* Lincoln Blue */
}
